main {
  height: 210vh;

  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  height: 85%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.image {
  width: 90%;
  height: 90%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img_1 {
  background-image: url(../images/gallery1.jpeg );
}

.img_2 {
  background-image: url(../images/gallery2.jpg);
}

.img_3 {
  background-image: url(../images/gallery3.jpg);
}

.img_4 {
  background-image: url(../images/gallery4.jpg);
}

.img_5 {
  background-image: url(../images/gallery5.jpg);
}

.img_6 {
  background-image: url(../images/gallery6.jpg);
}

.img_7 {
  background-image: url(../images/gallery7.jpg);
}

.img_8 {
  background-image: url(../images/gallery8.jpg);
}

.img_9 {
  background-image: url(../images/gallery9.jpg);
}

@media only screen and (max-width: 620px) {

  main {
    height: 200vh;
    margin-top: 11vh;
    margin-bottom: 0;
  }

  .container {
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
  }
}